<!-- 詳細画面 -->

<h1>Books</h1>

<% @books.each do |book| %>

  <p>title</p>
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

  <p>Body</p>
  <span><%= book.title %></span>
  
<% end %>